:root {
    --msgbox-bg: #ededed;
    --common-bg: #ffffff;
    --common-color: #303133;
    --common-border: 1px solid #ebeef5;
    --btn-bg: #ffffff;
    --person-msg-bg: #dcf8c7;
}

* {
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--common-bg);
    color: var(--common-color);
}

.el-input input {
    background-color: var(--common-bg);
    border: var(--common-border);
    color: var(--common-color);
}
.el-input .el-input__count .el-input__count-inner {
    background-color: var(--common-bg);
}
.el-button--primary.is-plain,
.el-button--info.is-plain {
    background-color: var(--btn-bg);
    border: var(--common-border);
}
.el-drawer {
    background-color: var(--common-bg);
    border-right: var(--common-border);
}
.el-switch__label {
    color: var(--common-color);
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.question {
    width: 65%;
    margin-right: 5px;
}

.btns {
    display: flex;
    align-items: center;
}

.btns .switch-label {
    margin: 0 10px;
    font-size: 14px;
}

.container {
    padding: 5px;
    flex: 1;
    height: 100%;
    overflow-y: hidden;
}

.answer-card {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border: var(--common-border);
}

.el-card__body {
    overflow-y: auto;
    height: calc(100% - 58px);
}
.el-card__header {
    background-color: var(--common-bg);
    color: var(--common-color);
    border-bottom: var(--common-border);
}

.el-card .clearfix {
    display: flex;
    justify-content: space-between;
    aligin-items: center;
}

.card-btns {
    height: 22px;
}

.msg-box {
    min-height: 100%;
    background-color: var(--msgbox-bg);
}

.el-card__body,
.el-main {
    padding: 0;
}

.msg {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px;
}

.msg-item {
    display: flex;
}

.msg_person .msg-item {
    flex-direction: row-reverse;
}

.msg_ai .msg-item {
    justify-content: flex-start;
}

.msg-head {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.msg_person .msg-head {
    background: rgb(87, 210, 248);
    color: #fff;
    margin-left: 10px;
}

.msg_ai .msg-head {
    background: rgb(101, 248, 87);
    color: #fff;
    margin-right: 10px;
}

.msg-content {
    max-width: 70%;
    min-width: 10%;
    border-radius: 8px;
    padding: 10px;
}

.msg_person .msg-content {
    background-color: var(--person-msg-bg);
    color: var(--common-color);
}

.msg_ai .msg-content {
    background-color: var(--common-bg);
    color: var(--common-color);
}

.el-message {
    min-width: 300px;
}

.el-loading-mask {
    border-radius: 8px;
}

.el-loading-spinner .circular {
    width: 30px;
    height: 30px;
}

.el-loading-spinner {
    margin-top: -15px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #c6c7c9;
}

.screen-capture-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: #00000088;
    display: flex;
    justify-content: center;
    align-items: center;
}
.capture-box {
    display: flex;
    justify-content: center;
    width: 100%;
}
.capture-box .el-icon-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 36px;
    cursor: pointer;
}

.el-drawer {
    width: 400px !important;
}

.setting-item {
    width: 100%;
    padding: 15px 10px;
}

@media only screen and (max-width: 1080px) {
    .question {
        width: 100%;
    }

    .btns {
        margin-top: 5px;
    }
}
@media only screen and (max-width: 750px) {
    .el-drawer {
        width: 70% !important;
    }
}
